@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
} 


nav{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.349);
}

nav > a{
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}


nav > a:hover{
    background-color:rgba(247, 247, 247, 0.377) ;
   
}


body{
   background-color: brown;
}

.video-containerr{
    width: 100%;
    height: 100%;
}

.video-container{
    width: 100%;
    height: 100%;
}


.video-container video {
    width: 100%; 
    height: 200px; 
    object-fit: cover;
    z-index: -1;
}
 

.video-containerr video{
    width: 100%;
    height: 500px;
    
}



.video-container ::after {
    content:;
    width: inherit;
    position: fixed;
    inset: 0;
    background: linear-gradient();
}



.imagem-frente{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.imagem-frente img{
    width: 250px;
    min-width: 200px;
}

main{
    
     min-width: 300px;
     max-width: 1000px;
     margin: auto;
     margin-bottom: 10px;
     padding: 0px;
     background-color: rgb(0, 0, 0);
     box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.979) ;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
}

div img{
    width: 100%; 
}

div.fejuca{
    

    
}


footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 50px;
}
