@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


nav{
    background-color: brown
    margin-top: -5;
    text-align:center;
    padding: 5px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.349);
}

nav > a{
    color: rgb(226, 210, 156);
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
}


nav > a:hover {
    transition: 0.3s;
    transform: scale(1.5);
}


body{
   background-color: brown;
}

.video-containerr{
    width: 100%;
    height: 100%;
}

.video-container{
    width: 100%;
    height: 100%;
}


.video-container video {
    width: 100%; 
    height: 200px; 
    object-fit: cover;
    z-index: -1;
}
 

.video-containerr video{
    width: 100%;
    height: 500px;
    
}



.video-container ::after {
    position: fixed;
    inset: 0;
    
}



.imagem-frente{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.imagem-frente img{
    width: 250px;
    min-width: 200px;
}

main{
    
     min-width: 300px;
     max-width: 1000px;
     margin: auto;
     margin-bottom: 9px;
     padding: 0px;
     background-color: rgb(0, 0, 0);
     box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.39) ;
     border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;
}

div img{
    width: 100%; 
}

div.fejuca{
    
}

div.baiao{
    width: 90px;
    position: absolute;
    padding: 10px;
    top: 34%;
    z-index: 1;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 50px;
}
